@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<link href="~/web2/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/web2/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/web2/css/font-awesome.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="~/web2/js/easyResponsiveTabs.js" type="text/javascript"></script>
<link href="~/web2/css/nav.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/web2/js/main.js"></script>
<script src="~/web2/js/Chart1.js"></script>

<div class="total-content">
    <div class="list_of_members">
        <div class="sales" style="background-color:#3C0061">
            <div class="icon-text">
                <h3>@ViewBag.d1</h3>
                <p>Toplam Cari</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="new-users" style="background-color:#6E00B3">
            <div class="icon-text">
                <h3>@ViewBag.d2</h3>
                <p>Ürün Sayısı</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="orders" style="background-color:#B069DB">
            <div class="icon-text">
                <h3>@ViewBag.d3</h3>
                <p>Personel Sayısı</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="visitors" style="background-color:#9D00FF">
            <div class="icon-text">
                <h3>@ViewBag.d4</h3>
                <p>Kategori Sayısı</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="total-content">
    <div class="list_of_members">
        <div class="sales" style="background-color:#3C0061">
            <div class="icon-text">
                <h3>@ViewBag.d5</h3>
                <p>Toplam Stok</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="new-users" style="background-color:#6E00B3">
            <div class="icon-text">
                <h3>@ViewBag.d6</h3>
                <p>Marka Sayısı</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="orders" style="background-color:#B069DB">
            <div class="icon-text">
                <h3>@ViewBag.d7</h3>
                <p>Kritik Seviye</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="visitors" style="background-color:#9D00FF">
            <div class="icon-text">
                <h3>@ViewBag.d8</h3>
                <p>Max Fiyatlı Ürün</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="total-content">
    <div class="list_of_members">
        <div class="sales" style="background-color:#3C0061">
            <div class="icon-text">
                <h3>@ViewBag.d9</h3>
                <p>Min Fiyatlı Ürün</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="new-users" style="background-color:#6E00B3">
            <div class="icon-text">
                <h3>@ViewBag.d12</h3>
                <p>Max Marka</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="orders" style="background-color:#B069DB">
            <div class="icon-text">
                <h3>@ViewBag.d10</h3>
                <p>Buzdolabı Sayısı</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="visitors" style="background-color:#9D00FF">
            <div class="icon-text">
                <h3>@ViewBag.d11</h3>
                <p>Laptop Sayısı</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="total-content">
    <div class="list_of_members">
        <div class="sales" style="background-color:#3C0061">
            <div class="icon-text">
                <h3>@ViewBag.d13</h3>
                <p>En Çok Satan</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="new-users" style="background-color:#6E00B3">
            <div class="icon-text">
                <h3>@ViewBag.d14</h3>
                <p>Kasadaki Tutar</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="orders" style="background-color:#B069DB">
            <div class="icon-text">
                <h3>@ViewBag.d15</h3>
                <p>Bugünkü Satışlar</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="visitors" style="background-color:#9D00FF">
            <div class="icon-text">
                <h3>@ViewBag.d16</h3>
                <p>Bugünkü Kasa</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
